<div class="card border-primary mb-3" >
    <div class="card-header text-primary">Header</div>
    <div class="card-body">
        <h5 class="card-title">Clients list</h5>
        <div class="my-2 text-left">
            <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clients/form']">Añadir cliente</button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <th>ID</th>
                <th>NAME</th>
                <th>SURNAME</th>
                <th>EMAIL</th>
                <th>CREATION DATE</th>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.surname}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.createAt}}</td>
                    <td>
                        <button class="btn btn-primary" type="button" [routerLink]="['/clients/form', client.id]">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>